body {
  font-family: 'Ibarra Real Nova', serif;
  line-height: 1.5;
}

section {
  
  background-color: antiquewhite;
  
}

.hero {
 
  background-color: rgb(24, 24, 54);
  height: 100vh;
  color: aliceblue;
  font-size: 40px;
  
}

footer {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 80px;
}

nav {
  display: flex;
  justify-content: space-between;
}

ul {
  display: flex;
  list-style-type: none;
  width: 500px;
  justify-content: space-around;
  font-size: 30px;
}
ul.show {
  display: block;
} 

li {
  /* width: 200px; */
  text-decoration: none;
}

h1 {
  font-size: 58px;
  font-family: 'Times New Roman', Times, serif;
  color: rgb(255, 255, 255);
  margin: 0;
  font-weight: 100;
  margin-left: 40px;
}

h2 {
  font-size: 60px;
}

p {
  margin: 0;
  font-weight: 300;
  font-size: 30px;
  margin-left: 50px;
  margin-right: 50px;
}

.subtext {
  font-size: 15px;
  font-weight: 300;
}

.hero-text {
  height: 100vh;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  margin-bottom: 200px;
  margin-left: 50px;
}
.hero-area {
  display: flex;
  height: 100%;
  justify-content: space-between;
  margin-left: 50px;
}



.button {
  width: 150px;
  height: 50px;
  border-radius: 25px;
  background-color:coral;
  text-align: center;
  margin-left: 50px;
  font-size: 30px;
  font-weight: 300;
  padding-top: 6px;
  margin-top: 20px;
}

.logo {
  height: 100px;
  border-radius: 5%;
  margin-top: 50px;
  margin-left: 50px;

}

.button:hover {
  background-color: rgb(204, 93, 53);
  cursor: pointer;
}

.button:active {
  background-color: rgb(121, 123, 124);
  color: gray;
}

.socials {
  padding-bottom: 200px;
}

.social {
  margin: 20px;
}

.sub-section {
  display: flex;
  justify-content: space-around;
  padding: 80px;
}

.sub-section-alternative {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 80px;
}

.headshot {
  width: 300px;
  border-radius: 50%;
}

.headshot-container {
  display: flex;
  align-items: center;

}

.project-card {
  width: 300px;
  height: 500px;
  box-shadow: 5px 5px 20px rgb(137, 134, 134);
  border-radius: 10px;
  margin: 10px;
  transition: transform 0.5s;
}

.project-container {
  display: flex;
  justify-content: space-around;
}

.project-card:hover{
  transform: scale(1.1);
}
@media only screen and (max-width: 1000px) {
  .project-container {
    display: flex;
    flex-wrap: wrap;
  }
}

.project-image {
  margin-top: 25px;
  width: 250px;
  border-radius: 125px;
}

hr {
  margin-left: 20px;
  margin-right: 20px;
}

.project-link {
  text-decoration: none;
  color: orangered;
}
a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.hamburger:focus {
  outline: 0;
}

.hamburger {
display: none;
}

@media only screen and (max-width: 1000px) {
  .hamburger {
    display: block;
    border: 0;
    background-color: transparent;
    color: white;
    font-size: 30px;
    margin: 20px;
    align-self: flex-end;
}
  ul {
    display: none;
    background-color:  rgb(32, 32, 66);
    margin: 0;

  }

  nav {
    display: flex;
    flex-direction: column-reverse;
    background-color:  rgb(32, 32, 66);
  }
  .logo {
    display: none;
  }

  ul.show {
    display: block;
  }
}

.digital-clock-photo {
  height: 250px;
  margin-top: 20px;
  border-radius: 20px;


}

.soundwave-project {
  height: 220px;
  margin-top: 40px;
  border-radius: 20px;

}

.Nikola-Tesla-tribute-page-photo {
  height: 250px;
  margin-top: 20px;
  border-radius: 20px;
}

/* #name {
  margin-top: 20px;
  margin-bottom: 5px;
  border-radius: 5px;
}

#email {
  border-radius: 5px;
  }
*/
  

  label {
    display: block;
  }

  input[type='text'],
  input[type='email']
  {
    border: 2px solid rgb(226, 116, 92);
    border-radius: 5px;
    padding: 0.5rem 0.7rem;
    transition: border-color 0.25s, box-shadow 0.25s;
  }


  .form-group {
    margin-bottom: 1rem;
  }

  input[type='text']:focus,
  input[type='email']:focus,
  button[type='submit']:hover,
  button[type='reset']:hover
   {
    border: 3px solid rgb(109, 206, 227);
    outline: 0;
    box-shadow: 0 0 0 4px rgba(24, 117, 255, 0.25);
  }

  button {
    padding: .5rem .7rem;
    margin-top: .5rem;
    outline: 0;
    background: lightblue;
    color: aliceblue;
    border: 0;
    border-radius: 5px;
  }

 